*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:lightskyblue;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;   
}
.corse{
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;   
}
header{
    width: 100%;    
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 35px;
}
.editor{
    width: 300px; 
    height: 400px;   
    background-color: dodgerblue;
}