
@import url(./reset.css);
    
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{   
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;  
}
body{
    background-color:rgb(219, 216, 216);
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
}  
.corse{
    max-width: 1200px; 
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
}

header{
    width: 100%;     
    background-color:rgb(88, 85, 85);
    color: white;
    text-align: center;  
    font-size: 150%;       
    box-shadow: 3px 3px 4px rgb(10, 10, 10);
    border-radius: 15px;  
    text-decoration: none;
    margin: 5px auto;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: center;
}
.container{
     width: 100%; 
     min-width: 400px;    
     display: flex;
     flex-wrap: wrap;
     align-items:center;
     justify-content: center;
     width: 90%; 
     margin: 0 auto;
   
 }
.imagen{
    width: 20%;   
}
.titulos{
    width: 80%;
    justify-content: center;
    margin: 10px auto; 
} 
  h1{ 
    border-radius: 10px;   
    box-shadow: 2px 3px 6px rgb(8, 8, 8);
    margin-bottom: 10px; 
   } 
   main{
       min-height: 80vh;
       flex-wrap: wrap;
       flex-wrap:wrap ;
       align-items:center;
       justify-content: center;
       width: 90%;
       font-size: 125%;
   }  
  .usuario{
    width: 100%; 
    min-width: 400px;    
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    width: 90%; 
    margin: 0 auto;
  }
   .editor{        
       width: 100%;       
       text-align: center;       
       background-color: rgb(172, 168, 168);      
       box-shadow: 3px 3px 4px rgb(10, 10, 10);
       border-radius: 15px;     
       margin: 10px auto; 
   }
   h2{
    font-size:125% ;
    border-radius: 10px;   
    box-shadow: 2px 3px 6px rgb(8, 8, 8);
    margin: 10px 20px; 
    background-color: rgb(196, 190, 190);
 }    
   input{
       width: 80%;
       border-radius: 10px; 
       margin: 0 10%;
       height: 30px;  
       margin-top: 10px; 
       margin-bottom: 10px;   
       
   }
   select{
       width: 80%;
       border-radius: 10px;
       margin: 0 10%;
       height: 30px; 
       background-color: rgb(192, 188, 188);
       margin-top: 10px;
       margin-bottom: 10px;
   }
   button{
    width: 80%;
    border-radius: 10px;
    margin: 0 10%; 
    height: 30px;
    margin: 20px 0;
    background-color: rgb(145, 142, 142);
   }
   .filtros{
       width: 100%;       
       text-align: center;       
       background-color: rgb(204, 198, 198);      
       box-shadow: 3px 3px 4px rgb(10, 10, 10);
       border-radius: 15px;     
       margin: 10px auto;
   }    
   .listado{
    width: 100%;
    text-align: center;
    background-color: rgb(204, 198, 198);      
    box-shadow: 3px 3px 4px rgb(10, 10, 10);
    border-radius: 15px;     
    margin: 10px auto;
} 
.titulosLista{
    width: 70%;
    height: 30px;
    display: flex;
    justify-content:space-evenly;
}
span{
 
}
.tareas{
    width: 80%;
    background-color: rgb(37, 37, 37);
    box-shadow: 3px 3px 4px rgb(10, 10, 10);
    border-radius: 15px; 
    color: white;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   

} 
.tareas button{
    background-color: black;
    color: red;
    width: 20%;
}  

footer{
    width: 100%;     
    background-color:rgb(88, 85, 85);
    color: white;
    text-align: center;  
    font-size: 150%;       
    box-shadow: 3px 3px 4px rgb(10, 10, 10);
    border-radius: 15px;  
    text-decoration: none;
    margin: 5px auto;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: center;
}
.arriba {
    position: fixed;
    bottom: 20px;
    right: 5px;
    font-size: 1.5em;  
    width: 40px;
    height: 40px;
  
   
}
.arriba a {
    color: rgba(5, 0, 0, 0.925);
   
   
}

@media(min-width: 768px) {
    .container{
        min-width: 768x;
        align-items: center;
        margin: 0 auto;
        font-size: 125%;       
     }
     .editor{        
        margin: 10px auto; 
        display: flex;  
        flex-wrap: wrap;
       justify-content: center; 
       align-items: center;
    }
    h2{
        width: 90%;
        margin-top: 10px;
    }     
    p{
         width: 30%;
     }
    input{
        width: 50%;        
    }
    select{
        width: 50%; 
        margin-bottom: 10px;
    }
    button{
     width: 50%;
     
    }  
    .filtros{        
        margin: 10px auto; 
        display: flex;  
        flex-wrap: wrap;
       justify-content: center; 
       align-items: center;
    }
    
}
@media(min-width: 1200px) {
    .container{
        max-width: 1200x;
        font-size: 150%;
        display: flex;
        flex-wrap: wrap;
        align-items:center;
        justify-content: center;
         }     
     .listado{
        width: 55%; 
        min-height: 80vh; 
        }    
     .usuario{
         min-height: 80vh;
     width: 35%;
     margin: 0px auto;
     background-color: brown;
     display: flex;
     flex-wrap: wrap;      
     text-align: center;       
       background-color: rgb(126, 124, 124);      
       box-shadow: 3px 3px 4px rgb(10, 10, 10);
       border-radius: 15px;     
      
        } 
    .filtros{
        width: 80%; 
           
    } 
    .editor{        
        width: 80%;        
    } 
    h2{
        font-size:125% ;
        border-radius: 10px;   
        box-shadow: 2px 3px 6px rgb(8, 8, 8);
        margin: 10px 20px; 
        background-color: rgb(196, 190, 190);
     }
     p{
         width: 80%;
     }    
       input{
           width: 80%;
           border-radius: 10px; 
           margin: 0 10%;
           height: 30px;  
           margin-top: 10px; 
           margin-bottom: 10px;   
           
       }
       select{
           width: 80%;
           border-radius: 10px;
           margin: 0 10%;
           height: 30px; 
           background-color: rgb(192, 188, 188);
           margin-top: 10px;
           margin-bottom: 10px;
       }
       button{
        width: 80%;
        border-radius: 10px;
        margin: 0 10%; 
        height: 30px;
        margin: 20px 0;
        background-color: rgb(145, 142, 142);
       }
}